body {
    background-color: #fof8ff;
    color: #333;
    font-family: Arial, sans-serif;
}
.card {
    margin-top: 50px;
    border-radius: 15px;
}
.profile-img {
    width: 160px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
.btn-instagram {
    background-color: lightblue;
    color: white;
}
.btn-instagram:hover {
    background-color: #c1275b;
}
